h1.titulo{
    background-color: bisque;
    font-size: 30px;
    text-align: center;
}

nav{
    background-color: greenyellow;
    text-align:center
}

section{
    background-color: orange;
}

p{
    background-color: orange;
    margin: 0 auto;
    text-indent: 0cm;
        
}

p.final{
    background-color: blue;
    text-align: center;
}

span{
    background-color: yellow;
}